@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



/* ヘッダー */

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding: 10px 6.53% 0 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo {
    width: 226.7px;
}

.pc_nav ul {
    display: flex;

}

.pc_nav ul li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-right: 56px;
    width: 105px;
    }

.pc_nav ul li:last-child {
    margin-right: 0;
}
.slider img {
width: 100%;
}
.slick-dots {
    bottom: 20px;
}
.slick-dots li.slick-active button:before {
    color: white;
}
.slick-dots li button:before {
    color: white;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/* スマホメニュー */
.hum_menu_btn,
.sp_nav {
    display: none;
}


/* 頭見出し */
.happy {
margin: 0 auto;
display: flex;
flex-direction: column;
text-align: center;
}

.happy_subtitle {
font-size: 30px;
padding-bottom: 57.86px;
padding-top: 114.03px;
}

.happy_heading {
font-size: 82px;
padding-bottom: 57.86px;
line-height: 1.17em;
font-weight: normal;
}
.happy_description {
font-size: 23px;
padding-bottom: 101.79px;
line-height: normal;
line-height: 1.65em;
}
.background {
    background-color: #e8d9c1;
    margin: 0 auto;
}
.phone {
    display: none;
}
/* 一枚目写真 */
.main_wrap > img {
    border-radius: 0px 0px 82px 0px;
    width: 50%;
}
.main_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;

}
.about_logo {
    width: 271px;
    padding-bottom: 63.84px;
    }
.about_logo_sp {
    width: 271px;
    padding-bottom: 63.84px;
    display: none;
    }

.about_heading {
    font-size: 44px;
    padding-bottom: 38.07px;
    line-height: 1.38em;
}

.about_description {
    font-size: 16px;
    overflow-wrap: break-word;
    text-align:left;
    letter-spacing: 0.05em;
    line-height: 1.625em;
}
.all_text {
    padding-left: 8%;
    width: 42%;
}
/* メニュー */

.menu_logo {
    width: 147px;
    margin: 0 auto;
    padding-top: 101.75px;
    padding-bottom: 46.77px;
}

.menu ul {
    display: flex;
max-width: 1000px;
margin: 0 auto;
padding: 10px;
justify-content: space-between;
}

.menu li {
    width: 30%;
}
.menu li img {
    border-radius: 0px 40px 0px 0px;
}

.menu  ul h3 {
    font-size: 38px;
    color: red;
    margin-top: -20px;
}
.menu li p {
    font-size: 17px;
    overflow-wrap: break-word;
    padding-top: 25.38px;
    line-height: 1.47em;
}


/* ギャラリー */
.gaiiery_logo {
    width: 235.76px;
    margin: 0 auto;
    padding-top: 93.77px;
    padding-bottom: 27.99px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 73.05px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
height: auto;
}
.slick-next {
    display: block;
    width: 12px;
    height: 12px;
    border: 0px;
    margin-right: 22%;
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    transform: rotate(45deg);
    top: 35%;
    padding: 7px;
}
.slick-prev {
    display: block;
    width: 12px;
    height: 12px;
    border: 0px;
    margin-left: 22%;
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    transform: rotate(-135deg);
    top: 35%;
    padding: 7px;
}

.slick-prev:before, .slick-next:before {
    display: none;
}
/* イベント */

.event_all {
    padding-left: 10px;
    padding-right: 10px;
}
.event_logo {
    width: 156.90px; 
    margin: 0 auto;
    padding-bottom: 42px;
}

.event {
    background-color: white;
    border-style: solid ;
    padding: 20px 5%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.event li {
    font-size: 23px;
    display: flex;
    justify-content: start;
    margin: 16px 0px;
}

.event ul {
    padding-left: 10%;
}

time {
    margin-right: 43px ;
}
.event p {
    text-decoration: underline;
}

/* アクセス */
.access_logo {
    width: 201px;
    margin: 0 auto;
    padding-bottom: 45.89px;
    padding-top: 76.02px;
}
.footer_wrap iframe {
    width: 100%;
    height: 472px;
}
/* フッター */
.address {
    display: flex;
    padding-top: 84.7px;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer_wrap {
    background-color: #ffffff;
}
.footer_logo {
width: 224.4px;
margin-right: 61px;
}
.address li {
font-size: 20px;
line-height: 1.95em;
}
.top_botton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}
footer > p {
    font-size: 16px;
    display:flex;
    justify-content: center;
    padding-top: 83.29px;
    padding-bottom: 77.64px;
}
footer {
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}
/* スマホメニュー */

@media screen and (max-width:1100px) {
    .pc_nav {
        display: none;
    }
.logo {
    width: 187.5px;
}
    .hum_menu_btn {
        display: block;
        position: absolute;
        top: 18.23px;
        right: 20.76px;
        cursor: pointer;
        height: 33px;
        z-index: 9999;
    }

    .hum_menu_btn span {
        background: #fff;
        display: block;
        height: 3px;
        width: 33px;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .hum_menu_btn span::before,
    .hum_menu_btn span::after {
        content: '';
        background: #ffffff;
        display: block;
        height: 3px;
        width: 33px;
        position: absolute;
        transition: 0.3s;

    }
    .hum_menu_btn span::before {
        bottom: 10px;
    }
    .hum_menu_btn span::after  {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after  {
        top: 0px;
        transform: rotate(135deg);
    }
.sp_nav {
    height: 100vh;
    background:rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sp_nav li {
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 15px 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;;
}
.happy {
    display: block;
}
.happy_subtitle {
    font-size: 5vw;
    padding-top: 44.47px;
    padding-bottom: 38.11px;
}
.happy_heading {
    font-size: 10.111vw;
    padding-bottom: 28.23px;
}
.happy_description {
    font-size: 4.6vw;
    margin: 0 25px;
    text-align: center;
padding-bottom: 66.35px;
}
.phone {
    display: block;
}
.about_heading {
    padding-top: 37.47px;
    padding-bottom: 37.63;
    font-size: 36px;
}
}


@media screen and (max-width:767px) {
    .about_logo_sp {
        width: 160.03px;
        padding-bottom: 18.23px;
        display: block;
        margin: 0 auto;
        }
    .main_wrap {
        display: block;
        padding: 0px;
    }
    .main_wrap > img {
        width: 100%;
        border-radius:0px;
        margin: 0 auto;
    }
    .all_text {
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 20px;
    }
    .about_logo {
        display: none;
    }

.menu ul {
    display: block;
}
.menu li {
    margin: 0 auto;
    width: 85%;
}
.menu li img {
    width: 100%;
}
.menu p {
    padding-bottom: 61px;
}
.menu_logo {
    width: 87.84px;
    padding-top: 57.88px;
    padding-bottom: 16.52px;
}
.gaiiery_logo {
    width: 142.26px;
    padding-top: 36.41px;
    padding-bottom: 18.35px;
}
.gallery {
    padding-bottom: 36.47px;
}
.gallery img {
    max-width: 767px;
    margin: 0 auto;
    height: auto;
}
.event {
    padding: 10px;
}
.event ul {
    padding-left: 22.33px;
}
.event li {
    display: block;
    font-size: 16px;
}
.event p {
    padding: 7px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.event_logo {
    width: 100.86px;
    padding-bottom: 21.83px;
}

.footer_wrap iframe {
    height: auto;
}
.address {
    display: block;
}
.address li {
    font-size: 18px;
}
.access_logo {
    width: 124.07px;
    padding-top: 33.88px;
    padding-bottom: 7.058px;
}
.address {
    padding-top: 46.54px;
}
.footer_logo {
    padding-bottom: 33.88px;
}
footer > p {
    padding-top: 48px;
    padding-bottom: 36.7px;
}
.top_botton {
    width: 100px;
}
}